
body {
  
    background-color: #f8f8f8; /* Color de fondo */
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Familia de fuentes */
    margin: 0; /* Margen exterior */
    padding: 0; /* Espaciado interior */
  }
  
  .imagenPortada {
    background-image: url('Img/PorTitulo.png'); /* URL de la imagen de portada */
    background-size: 100% 100%; /* Ajusta la imagen para que ocupe todo el espacio */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 400px; /* Altura fija para la imagen de portada */
  }

  /* Estilos para el menú de navegación */
  .menu {
    background-color: black; 
    background-image: linear-gradient(to top, #000000, #333333); /* Degradado de fondo */
    border-radius: 5px; /* Bordes redondeados  */
    padding: 10px; /* Espaciado interno para los elementos */
    text-align: center; /* Centrar el texto */
    position: sticky; /* Establece el menú como pegajoso */
    top: 0; /* Coloca el menú en la parte superior */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }
  
  /* Estilos para los enlaces del menú */
  .menu a {
    color: white; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado para los enlaces */
    margin-right: 40px; /* Margen derecho entre los enlaces */
  }
  
  /* Estilos para los enlaces del menú al pasar el mouse */
  .menu a:hover {
    color: lightgrey; /* Cambia el color del texto a gris claro */
  }
  
  .menu-link {
    display: inline-block;
    text-align: center;
    width: 150px; /* Ajusta el ancho según tus necesidades */
    margin-right: 20px; /* Margen derecho entre los enlaces */
  }
  /* Estilos para los títulos h2 */
  h2 {
    color: #f5f5f5; 
    margin-left: 115px; 
    font-family: "Nunito", sans-serif; 
  }
  
  /* Estilos para los títulos h3 */
  h3 {
    color: #a725a7; 
  }
  
  /* Estilos para listas no ordenadas */
  ul {
    list-style-type: disc; /* Tipo de viñeta */
    padding: 0; /* Sin espaciado interior */
  }
  
  /* Estilos para los elementos de la lista */
  ul li {
    margin-bottom: 10px; /* Margen inferior */
  }
  
  /* Estilos para las fichas */
  .ficha {
    margin-top: 0px; /* Margen superior */
  }
  
  /* Estilos para imágenes dentro de fichas */
  .ficha .imagen-ficha {
    float: left; /* Flotar a la izquierda */
    margin-right: 20px; /* Margen derecho */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
  }
  
  /* Estilos para el índice */
  .Indice {
    width: 200px; /* Ancho del índice */
    height: 400px; /* Altura del índice */
    background: linear-gradient(45deg, #b98eff, #7d44ff); /* Degradado de fondo */
    border-radius: 20px; /* Radio de borde para esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    margin-left: 120px; /* Margen izquierdo */
    padding-left: 30px; /* Espaciado interior a la izquierda */
  }
  
  .imagenOST {
    text-align: center; /* Centrar la imagen horizontalmente */
   
}
  
  /* Estilos adicionales para el cuerpo del documento */
  body {
    background-image: url('Img/5.jpg'); 
    background-size: cover; /* Tamaño de la imagen de fondo */
    background-attachment: fixed; /* Fijar la imagen de fondo */
  }
  
  
  /* Estilo del contenedor principal */
  #contenedor {
    margin-left: 170px; /* Margen izquierdo */
    margin-right: 170px; /* Margen derecho */
    color: rgb(253, 250, 250); /* Color del texto */
    background-color: rgba(19, 18, 18, 0.82); /* Fondo transparente */
    text-align: justify; /* Alinear el texto al tamaño del contenedor */
  }
  
  /* Estilo de la clase contenedor */
  .contenedor {
    text-align: center; /* Centrar contenido horizontalmente */
    height: 100vh; /* Altura del viewport */
    display: flex; /* Usar flexbox para el diseño */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

  
  .imagenOST {
    transition: transform 0.3s ease; /* Efecto de transición al hacer hover */
}


.imagenOST:hover {
    transform: scale(1.1); /* Hacer zoom al 110% al hacer hover */
}

  

  
  
  
 

  

  
  
  
 
  

  

  
