/* Estilos generales */
body {
  margin: 0; /* Margen exterior */
  padding: 0; /* Espaciado interior */
}

/* Estilos para el menú de navegación */
.menu {
  font-family: Arial, sans-serif; /* Familia de fuentes */
  background-color: black; 
  background-image: linear-gradient(to top, #000000, #333333); /* Degradado de fondo */
  border-radius: 5px; /* Bordes redondeados  */
  padding: 10px; /* Espaciado interno para los elementos */
  text-align: center; /* Centrar el texto */
  position: sticky; /* Establece el menú como pegajoso */
  top: 0; /* Coloca el menú en la parte superior */
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

/* Estilos para los enlaces del menú */
.menu a {
  color: white; /* Color de texto blanco */
  text-decoration: none; /* Sin subrayado para los enlaces */
  margin-right: 40px; /* Margen derecho entre los enlaces */
}

/* Estilos para los enlaces del menú al pasar el mouse */
.menu a:hover {
  color: lightgrey; /* Cambia el color del texto a gris claro */
}

.menu-link {
  display: inline-block;
  text-align: center;
  width: 150px; /* Ajusta el ancho según tus necesidades */
  margin-right: 20px; /* Margen derecho entre los enlaces */
}

/* Estilos para los títulos h2 */
h2 {
  color: #f5f5f5; 
  margin-left: 115px; 
  font-family: "Nunito", sans-serif; 
}

/* Estilos para los títulos h3 */
h3 {
  color: #a725a7; 
}

/* Estilos para listas no ordenadas */
ul {
  list-style-type: disc; /* Tipo de viñeta */
  padding: 0; /* Sin espaciado interior */
}

/* Estilos para los elementos de la lista */
ul li {
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para las fichas */
.ficha {
  margin-top: 0px; /* Margen superior */
}

/* Estilo del contenedor principal */
#contenedor {
  background-color: #f8f8f8; /* Color de fondo */
  color: #333; /* Color del texto */
  font-family: Arial, sans-serif; /* Familia de fuentes */
  margin-left: 170px; /* Margen izquierdo */
  margin-right: 170px; /* Margen derecho */
  color: rgb(253, 250, 250); /* Color del texto */
  background-color: rgba(19, 18, 18, 0.82); /* Fondo transparente */
  text-align: justify; /* Alinear el texto al tamaño del contenedor */
}

/* Estilo de la clase contenedor */
.contenedor {
  text-align: center; /* Centrar contenido horizontalmente */
  height: 100vh; /* Altura del viewport */
  display: flex; /* Usar flexbox para el diseño */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Diseño de la página de OST */
.imagenOST {
  text-align: center; /* Centrar la imagen horizontalmente */
  transition: transform 0.3s ease; /* Efecto de transición al hacer hover */
}

#imagen-fondo-OST {
  background-image: url('Img/5.jpg'); 
  background-size: cover; /* Tamaño de la imagen de fondo */
  background-attachment: fixed; /* Fijar la imagen de fondo */
}

.imagenOST:hover {
  transform: scale(1.1); /* Hacer zoom al 110% al hacer hover */
}

/* Diseño de episodios */
#imagen-portada-episodios {
  background-image: url('Img/2.jpg'); 
  background-size: cover; /* Tamaño de la imagen de fondo */
  background-attachment: fixed; /* Fijar la imagen de fondo */
}

.menu1 {
  display: grid; /* Utiliza el modelo de diseño Grid */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea columnas que se ajustan automáticamente, con un ancho mínimo de 300px y un ancho máximo de 1fr */
  grid-gap: 20px; /* Espacio entre las celdas del grid */
  padding: 20px; /* Espaciado interno del contenedor */
}

.episodio {
  display: block; /* Muestra el elemento como bloque */
  background-color: #060606; /* Color de fondo */
  padding: 10px; /* Espaciado interno del elemento */
  border-radius: 5px; /* Borde redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Hereda el color de texto del contenedor padre */
}

.episodio:hover {
  box-shadow: 0 0 10px rgba(249, 247, 247, 0.90);
}

.episodio-info {
  display: flex; /* Utiliza el modelo de diseño Flexbox */
  align-items: center; /* Alinea los elementos verticalmente al centro */
}

.episodio-info img {
  width: 120px; /* Ancho de la imagen */
  height: 110px; /* Altura de la imagen */
  margin-right: 10px; /* Espacio a la derecha de la imagen */
}

.texto-episodio {
  flex: 1; /* Hace que el elemento ocupe todo el espacio restante */
}

.numero-episodio {
  font-weight: bold; /* Texto en negrita */
  font-size: 25px; 
}
